# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/en/_build/
docs/en/_tmp/
docs/zh_cn/_build/
docs/zh_cn/_tmp/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# custom
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
work_dirs/
/data/
/data
mmedit/.mim

/output/*
# Pytorch
*.pth

# onnx and tensorrt
*.onnx
*.trt

# local history
.history/**

# Pytorch Server
*.mar

# MacOS
.DS_Store

*.jpg
*.png
*.hdf5
*.mat
*.npy


!/CLIP-HBA/figures/
!/CLIP-HBA/figures/*

!/CLIP-HBA/Data/test_images/
!/CLIP-HBA/Data/test_images/*

!/CLIP-HBA/Data/RDM48_triplet.mat
!/CLIP-HBA/Data/triplet48_index.npy
!/CLIP-HBA/Data/words48.mat

/CLIP-HBA/models/cliphba_meg_individual_test/
/CLIP-HBA/data/imagenet/
/CLIP-HBA/data/imagenet/*
/CLIP-HBA/data/lamem/
/CLIP-HBA/data/lamem/*
/CLIP-HBA/Data/memcat/
/CLIP-HBA/Data/memcat/*
/CLIP-HBA/models/
/CLIP-HBA/models/*

/CLIP-HBA/preds/
/CLIP-HBA/logs/