absl-py
addict
aliyun-python-sdk-core
aliyun-python-sdk-kms
attrs
av
cachetools
cffi
click
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
codecov
coloredlogs
contourpy
coverage
crcmod
cryptography
cycler
einops
exceptiongroup
facexlib
filterpy
flake8
flatbuffers
fonttools
google-auth
google-auth-oauthlib
grpcio
humanfriendly
importlib-resources
iniconfig
interrogate
ipykernel
ipywidgets
isort
jmespath
joblib
jupyterlab_widgets
kiwisolver
llvmlite
lmdb
Markdown
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
model-index
mpmath
numba
oauthlib
onnxruntime
opencv-python
opendatalab
openxlab
ordered-set
oss2
pandas
pillow
pluggy
protobuf
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycryptodome
pyflakes
pyparsing
pytest
pytest-runner
pytz
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
sympy
tabulate
tensorboard
tensorboard-data-server
threadpoolctl
tokenizers
toml
tomli
tqdm
transformers
tzdata
urllib3
Werkzeug
widgetsnbextension
yapf
h5py
natsort
imageio
